:root {
    /* primária */
    --color-0: white;
    --color-1: #262dda;
    --color-2: #5158ff;
    --color-3: #B4B4B4;
    --color-4: #06282E;
    /* secundária */
    --color-5: #16193B;
    --color-6: #C8C8C8;
    --color-7: #BABCCC;
    --color-8: #EFEFEF;
    --color-9: black;

    /* --font-menu: 'Kumbh Sans', sans-serif; */
    --font-padrao: 'Mulish', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: linear-gradient(to right, #12180d, #1d1c1c);
    /* color: aliceblue; */
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.container {
    background-color: whitesmoke;
    padding: 6px;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 darkgrey;
}
form {
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 400px;
}
input[type="text"], input[type="password"] {
    border: none;
    margin-top: 40px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
}

/* .botao {
    width: 100px;
    height: 40px;
    border: none;
    background-color: var(--color-3);
    border-radius: 10px;
    transition: all 0.5s ease;
}

.botao:hover{
    background-color: var(--color-0);
    transition: all 0.5s ease;
    color: var(--color-9);
    border-color: var(--color-);
} */

input {
    border: none;
    background-color: var(--color-8);
    border-radius: 108px;
    width: 200px;
    height:40px;
    transition: all 0.5s ease   ;
    padding-left: 30px;
}

/* .form label, input[type='submit'] {
    float: left;
    margin-left: 60px;
    font-size:20px;
}

input:not(input[type='submit']) {
    padding-left: 30px;
} */

p {
    font-size:24px;
}

a:hover {
    color: var(--color-1);
    transition: all 0.2s ease;
}

.form label {
    margin-top: 10px;
}

@media screen and (max-width:980px){

    
    .form{
        width: 662px;
        height: 404px;
        transition: all 0.5s ease;
        padding-top: 50px;
    }

    .botao {
        width: 88px;
        height: 36px;
        transition: all 0.5s ease;
    }

    input {
        border-radius: 108px;
        width: 605px;
        height: 38px;
        transition: all 0.5s ease;
    }
    .form label, input[type='submit'] {
        float: left;
        margin-left: 30px;
        font-size:9px;
    }
    p{
        font-size: 12px;
    }
    h1{
        font-size: 35px;
    }
    .espesifico{
        font-size: 12px;
    }
    
}
@media screen and (max-width:644px){
    .form{
        width: 362px;
        height: 404px;
        transition: all 0.5s ease;
        padding-top: 28px;
    }

    /* .botao {
        width: 100px;
        height: 36px;
        transition: all 0.5s ease;
    } */

    input {
        border-radius: 108px;
        width: 325px;
        height: 38px;
        transition: all 0.5s ease;
    }
    .form label, input[type='submit'] {
        float: left;
        margin-left: 30px;
        font-size:16px;
    }
    p{
        font-size: 14px;
    }
    h1{
        font-size: 28px;
    }
}
.botaoImg{
    padding: 25px;
}
.terms{
    /* padding: 20px; */
    width: 20px;
    left: -150px;
    position: relative;
}