

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .volta{
    text-decoration: none;
    margin-top: 100px;
    color: black;
  }
  .wrapper {
    margin: 3em auto;
    max-width: 1000px;
    border-radius: 5px;
    background-color: rgb(39, 133, 177);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
  }
  
  .header {
    padding: 30px 40px;
    /* text-align: center; */
  }
  
  /* Grid Container */
  .cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
  }
  h3{
    position: relative;
    align-items: center;
  }
  /* .form-sub{
    position: relative;
    right: -150px;
  }
  .form-sub button{
    width: 70%;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #415aca;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;
  }  */
  
  /* Cards */
  .card {
    margin: 15px; 
    width: calc((100% / 3) - 30px);
    transition: all 0.2s ease-in-out;
  
    /* media queries for stacking cards */
    @media screen and (max-width: 991px) {
      width: calc((100% / 2) - 30px);

      .form-sub{
        position: relative;
        right: -60px;
      }
    }
  
    @media screen and (max-width: 767px) {
      width: 100%;

      .form-sub{
        position: relative;
        right: -60px;
      }
      
    }

    
  }

  /* FOOTER */

  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #d9d9d9; */
  font-family: 'Poppins', sans-serif;
}
footer{
  color: #d9d9d9;
  /* position: fixed; */
  bottom: 0px;
  /* width: 100%; */
  background: #3E8AFF; /*cor do fundo do footer*/
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:after{
  position: absolute;
  content: '';
  width: 15%;
  height: 2px;
  background: #20b6f1;
  top: -10px;
}
.box .content:before{
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  background: #62666b;/*cor da faixa*/
  top: -10px;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  width: 40px;
  height: 40px;
  background: #db9393;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #208cf1;
}
.left .content p{
  text-align: justify;
}
.center .content .fas{
    font-size: 23px;
    background: #cf4242;/*icones do endereço*/
    width: 45px;
    height: 45px ;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
    margin: 10px 0;
}
.center .content .msg{
    margin-top: 10px;
}
.right form input, .right form textarea{
    width: 100%;
    font-size: 17px;
    background: #151515; /*cor dos boxs*/
    padding-left: 10px;
    border: 1px solid #222222;
}
.right form input{
    height: 35px;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form .text{
  font-size: 17px;
  margin-bottom: 2px;
  color: #656565;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  background: #528db7;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom .center{
  padding: 5px;
  font-size: 15px;
  background: #151515;
  text-align: center;
}
.bottom .center span{
  color: #656565;
}
.bottom .center a{
  color: #528db7;
  text-decoration: none;
}
.bottom .center a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 900px){
    footer{
        /* position: fixed; */
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
  
  